xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:pixelsize=14
